<%= form_tag "/teams", :method => :post, :multipart => true do %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= label_tag "name" %><br />
    <%= text_field_tag "name" %>
  </div>
  <div class="field">
    <%= label_tag "competition_id" %><br />
    <%= select_tag "competition_id", options_from_collection_for_select(Competition.all, "id", "name")%>
  </div>
  <div class="actions">
    <%= submit_tag "Zapisz" %>
  </div>
<% end %>
