%h2
  = t(:teams)
- @teams.each do |team|
  .post
    %h3.title
      = link_to team.name, team_path(team)
    %p.meta
      %b #{t("activerecord.attributes.team.leader")}
      = team.leader.display_name
      %br/
      %b #{t("activerecord.attributes.team.competition_id")}
      = link_to competition_name(team.competition), team.competition
%br/
= link_to t(:new_team), new_team_path
