%h2
  = t(:teams)
%table
  %tr
    %th
      = t("activerecord.attributes.team.leader")
    %th
      = t("activerecord.attributes.team.competition_id")
    %th
      = t("activerecord.attributes.team.name")
    %th
    %th
    %th
    %th
  - @teams.each do |team|
    %tr
      %td= user_name(team.leader)
      %td= team.name
      %td= link_to t(:show), team
      %td= link_to t(:edit), edit_team_path(team)
      %td= link_to t(:destroy), team, confirm: 'Are you sure?', method: :delete
%br/
= link_to t(:new_team), new_team_path
