%h2
  = t(:teams)
- for team in @teams
  .post
    %h2.title
      = link_to team.name, team_path(team)
    %p.meta
      %b #{t("activerecord.attributes.team.leader")}
      = user_name(team.leader)
      %br/
      %b #{t("activerecord.attributes.team.competition_id")}
      -#stworzyłam helper, bo nie umiałam wyciągnąc competition_name //Jadzik
      = competition_name(team.competition)
      %br/
      = link_to t(:show_team), team
      %br/
      = link_to t(:edit_team), edit_team_path(team)
%br/
= link_to t(:new_team), new_team_path
