<p id="notice"><%= notice %></p>

<p>
  <b>[leader:</b>
  <%= @team.[leader_id %>
</p>

<p>
  <b>Competition:</b>
  <%= @team.competition_id %>
</p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>Team:</b>
  <%= @team.team_id %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
