%h2
  = t(:checker)
  = t(:for_problem)
  = @checker.problem.name
%br/

- if @checker.checker_datas.length > 0
  %h4 #{t("added_datas")}:
  - for cd in @checker.checker_datas
    .checker_data
      %b #{t("input")}:
      = cd.input
      %br/
      %b #{t("output")}:
      = cd.output
      %br/
      %br/
= link_to t(:new_data), new_problem_checker_checker_data_path(@problem)
%br/
%br/
= link_to t(:back), problem_path(@problem)
