%h2
  = t(:competitions)
- @competitions.each do |competition|
  .post
    %h3.title
      = link_to competition.name, competition_path(competition)
    %p.meta
      #{t("activerecord.attributes.competition.organizer_id")}:
      = user_name(competition.organizer)
      %br/
      #{t("activerecord.attributes.competition.deadline")}:
      - if competition.deadline
        #{competition.deadline},
      - else
        = t(:none)
      status:
      - if !competition.deadline_expired?
        = t(:status_ongoing)
      - else
        = t(:status_expired)
