= form_for @competition do |f|
  .clearfix
    = f.label :name, "Nazwa"
    .input= f.text_field :name, :class => "xlarge"
  .clearfix
    = f.label :organizer_id, "Opiekun zawodów"
    .input= select "competition", "organizer_id",  User.all.collect {|p| [ p.email, p.id ] }, :class => "xlarge" 
  .clearfix
    = f.label :description, "Opis"
    .input= f.text_area :description, :class => "xxlarge"
  .clearfix
    = f.label :max_users, "Limit uczestników w zespole"
    .input= f.number_field :max_users, :class => "xxlarge", :min => 1
  .clearfix
    = f.label :start, "Termin rozpoczęcia"
    .input= datetime_select "competition", "start", {:order => [:hour, :minute, :day, :month, :year]}
  .clearfix
    = f.label :deadline, "Termin zakończenia"
    .input= datetime_select "competition", "deadline", {:order => [:hour, :minute, :day, :month, :year]}
  .clearfix.center
    = f.submit "Zapisz", :class => "btn primary"
