.post
  %h2.title
    = @competition.name
  %p.meta
    %b #{t("activerecord.attributes.competition.organizer_id")}:
    #{user_name(@competition.organizer)}
    %br/
    %b #{t("activerecord.attributes.competition.max_users")}:
    #{@competition.max_users}
    %br/
    %b #{t("activerecord.attributes.competition.start")}:
    - if @competition.start
      = @competition.start
    - else
      = t(:none)
    %br/
    %b #{t("activerecord.attributes.competition.deadline")}:
    - if @competition.deadline
      = @competition.deadline
    - else
      t(:none)
    %br/
    %b #{t(:status)}:
    - if !@competition.deadline_expired?
      - if @competition.started?
        = t(:status_ongoing)
      - else
        = t(:status_pending)
    - else
      = t(:status_expired)
    %br
    %b Opis:
  .entry
    = @competition.description
    %br/
    %br/
    %h3= t(:teams)
    %ul
      - for team in @competition.teams
        %li
          = team.name
%br/
= link_to t(:back), competitions_path
