.post
  %h2.title
    = @problem.name
  %p.meta
    %h3
      = t(:description)
    %p
      = @problem.description
%br/
= link_to t(:destroy_problem), @problem, :method => 'delete', :confirm => t(:are_you_sure) 
%br/
%br/
= link_to t(:back), problems_path
