.post
  %h2.title
    = @problem.name
  %p.meta
    %h3 
      #{t("description")}
    %p
      = @problem.description 
%h3
  = link_to t(:cheker), problem_checker_path(@problem)
%br/
= link_to t(:destroy_problem), @problem, :method => 'delete', :confirm => t(:are_you_sure) 
%br/
-#= link_to t(:new_guardian), new_competition_problem_guardian_membership_path(@competition, @problem)
