-if @problem.errors.any?
  #error_explanation
    %h2= "#{pluralize(@problem.errors.count, "error")} prohibited this problem from being saved:"
    %ul
      - @problem.errors.full_messages.each do |msg|
        %li= msg

.post
  %h2.title= @problem.name
  %p.meta

  .entry
    %h3 Treść:
    %p= @problem.description
    
%h3
  = link_to "Sprawdzaczka", problem_checker_path(@problem)
= link_to "Usuń zadanie", @problem, :method => 'delete', :confirm => 'Usunąć?' 
%br
-#= link_to "Dodaj nowego opiekuna", new_competition_problem_guardian_membership_path(@competition, @problem)
