= form_for [@competition, @problem_membership] do |f|
  = render :partial => "errors"
  .clearfix
    = f.label :problem_id
    .input= f.select  "problem_id",  Problem.all.collect {|p| [ p.name, p.id ] }, :class => "xlarge" 
    
  .clearfix
    = f.label :start_time
    .input= f.datetime_select "start_time", {:order => [:hour, :minute, :day, :month, :year]}
  .clearfix
    = f.label :end_time
    .input= f.datetime_select "end_time", {:order => [:hour, :minute, :day, :month, :year], :default => @competition.deadline}
  .actions.clearfix.center
    = f.submit t(:save), :class => "btn primary"
