= form_for [@competition, @problem_membership] do |f|
  .clearfix
    Zawody: #{@competition.name}
  .clearfix
    = f.label :problem_id, "Zadanie"
    .input= select "problem_membership", "problem_id",  Problem.all.collect {|p| [ p.name, p.id ] }, :class => "xlarge" 
  .clearfix.center
    = f.submit "Zapisz", :class => "btn primary"
