.post
  %h2.title
    = t(:admins)
  .entry
    %ul
      - for a in @administrators
        %li
          = user_name(a)
          - if can? :remove_admin, a
            = link_to t(:remove_admin), remove_admin_user_path(a), :method => :put
.post
  %h2.title
    = t(:users)
  .entry
    %ul
      - for u in @users
        %li
          = user_name(u)

          - if can? :make_admin, u
            = link_to t(:make_admin), make_admin_user_path(u), :method => :put
   
