%h2
  = t(:new_judge)
  = t(:for_competition)
  = @competition.name
= form_for [:admin, @competition, @judge_membership] do |f|
  = render :partial => "errors"
  .clearfix
    = f.label :judge_id
    .input= select "judge_membership", "judge_id",  User.all.collect {|p| [ p.email, p.id ] }, :class => "xlarge"
  .actions.clearfix.center
    = f.submit t(:save), :class => "btn primary"
