!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      #{t("hello")} #{@user.email}
    %p
      = t(:to_accept_invitation_click)
      = succeed "." do
        %a{:href => "http://localhost:3000/confirm#{token}"} click
