= form_for [@team, @invitation] do |f|
  .clearfix
    %h3
      = t(:competitions)
      = @team.competition.name
  .clearfix
    = f.label :user_id
    .input= select "invitation", "user_id", User.all.collect {|p| [ p.display_name, p.id ] }, :class => "xlarge"
  .clearfix.center
    = f.submit t(:save), :class => "btn primary"

%br/
= link_to t(:back), team_path(@team)
