.post
  %h2.title
    = link_to @competition.name, admin_competition_path(@competition)
  %p.meta
    #{t("activerecord.attributes.problem_membership.start_time")}:
    - if @problem_membership.start_time
      = @problem_membership.start_time
    - else
      = t(:none)
    %br/
    #{t("activerecord.attributes.problem_membership.end_time")}:
    - if @problem_membership.end_time
      = @problem_membership.end_time
    - else
      = t(:none)
    %br/
    #{t(:adding_solutions)}:
    - if @problem_membership.underway?
      = t(:status_open)
    - else
      = t(:status_closed)
    %br/
    #{t(:points)}:
    - if @problem_membership.problem.points
      = @problem_membership.problem.points
    - else
      = t(:points_none)

  - if @problem_membership.solutions.length > 0
    %h3
      = t(:teams_with_solutions)
    %ul
      - for s in @problem_membership.solutions
        %li
          #{s.team.name}, #{s.created_at}
          ||
          = link_to t(:show_solution), admin_competition_problem_membership_solution_path(@competition, @problem_membership, s)

  - if @problem_membership.underway?
    %h4
      = link_to t(:new_solution), new_admin_competition_problem_membership_solution_path(@competition, @problem_membership)
    %br/
%br/
= link_to t(:back), admin_competition_path(@competition)

