%h2
  = t(:new_team_membership)
  = t(:for_competition)
  = @competition.name
= form_for [@competition, @team_membership] do |f|
  = render :partial => "errors"
  .clearfix
    = f.label :team_id
    .input= select "team_membership", "team_id",  Team.all.collect {|p| [ p.name, p.id ] }, :class => "xlarge" 
  .actions.clearfix.center
    = f.submit t(:save), :class => "btn primary"
