= form_for [@competition, @team_membership] do |f|
  .clearfix
    Zawody: #{@competition.name}
  .clearfix
    = f.label :team_id, "Zespol"
    .input= select "team_membership", "team_id",  Team.all.collect {|p| [ p.name, p.id ] }, :class => "xlarge" 
  .clearfix.center
    = f.submit "Zapisz", :class => "btn primary"
