%h2= t(:edit_user)
= form_for [:admin, @user] do |f|
  .clearfix
    = f.label :email
    .input
      = f.text_field :email
  .clearfix
    = f.label :first_name
    .input
      = f.text_field :first_name
  .clearfix
    = f.label :last_name
    .input
      = f.text_field :last_name
  .clearfix
    = f.label :nick
    .input
      = f.text_field :nick
  .clearfix
    = f.label :roles
    .input
      = f.select :roles, options_from_collection_for_select(Role.all.find_all, "id", "name") 
  .clearfix
    = f.label :tshirt_size
    .input
      = f.select :tshirt_size, options_for_select(Settings.tshirt_sizes.find_all, "size") 
  .clearfix.actions
    = f.submit t(:save), :class => "btn primary"




