= semantic_form_for [:admin, @user] do |f|
  = f.inputs do
    = f.input :email
    = f.input :roles
    = f.input :first_name
    = f.input :last_name
    = f.input :nick
    = f.input :tshirt_size, :as => :select, :multiple => false, :collection => Settings.tshirt_sizes
  = f.buttons

