.mez
  %ul
    %li= link_to "Zawody", [:admin, competition]
    %li= link_to "Ustawienia",  edit_admin_competition_path(competition)
    %li= "Wiadomości"
    %li= "Zgłoszenia"
    %li= link_to t(:ranking), ranking_admin_competition_path(competition)
    %li= link_to "Zadania", problems_admin_competition_path(competition)
    %li= link_to "Zespoły", teams_admin_competition_path(competition)
    %li= link_to "Sędziowe", judges_admin_competition_path(competition)
