%div{:class=>["compwell", !competition.is_active && competition.deadline_expired? ? nil : "running", !competition.is_active || !competition.deadline_expired? ? nil : "archive", competition.is_active ? nil : "not_active"]}
  %h3.title= link_to competition.name, admin_competition_path(competition)
  %p.meta
    #{Competition.human_attribute_name("deadline")}:
    - if competition.deadline
      #{competition.deadline}
    - else
      = t(:none)
    %br/
    #{Competition.human_attribute_name("freeze_time")}:
    - if competition.freeze_time
      #{competition.freeze_time}
    - else
      = t(:none)
