.competition
  = render :partial => "navigation", :locals =>  {:competition => @competition}
  %h2.title
    = @competition.name
  %p.meta
    %b #{t("activerecord.attributes.competition.organizer_id")}:
    #{user_name(@competition.organizer)}
    %br/
    %b #{t("activerecord.attributes.competition.max_users")}:
    #{@competition.max_users}
    %br/
    %b #{t("activerecord.attributes.competition.start")}:
    - if @competition.start
      = @competition.start
    - else
      = t(:none)
    %br/
    %b #{t("activerecord.attributes.competition.deadline")}:
    - if @competition.deadline
      = @competition.deadline
    - else
      t(:none)
    %br/
    %b #{t(:status)}:
    - if !@competition.deadline_expired?
      - if @competition.started?
        = t(:status_ongoing)
      - else
        = t(:status_pending)
    - else
      = t(:status_expired)
    %br
    %b Opis:
  .entry
    = @competition.description
    %br/
    %br/
    - if @competition.started?
      - unless @competition.deadline_expired?
        
        %br/
        %br/
        
    - else
      = link_to t(:destroy_competition), @competition, :confirm => t(:are_you_sure), :method => :delete

%br/
= link_to t(:back), admin_competitions_path
