= form_for [@competition, @competitor_membership] do |f|
  .clearfix
    Zawody: #{@competition.name}
  .clearfix
    = f.label :competitor_id, "Uczestnik"
    .input= select "competitor_membership", "competitor_id",  User.all.collect {|p| [ p.email, p.id ] }, :class => "xlarge" 
  .clearfix.center
    = f.submit "Zapisz", :class => "btn primary"
