!!!
%html
  %head
    %title Sharabha
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}
    /= stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    /= csrf_meta_tags
    %link{:href => "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css", :rel => "stylesheet"}
    :css
      body {
        padding-top: 55px;
      }
      .user {
        float: right;
        color: white;
        line-height: 44px;
      }
      .topbar .inline-inputs label {
        float: none;
        color: white;
      }
      .topbar div > .brand, .topbar div > ul, .nav
      {
        margin-top: 4px;
      }
      .label
      {
        padding-top: 2px;
        padding-bottom: 3px;
      }
      .actions
      {
        background: none;
        padding-top: 10px;
        padding-left: 50px;
      }
  %body
    .topbar
      .topbar-inner
        .container
          %a.brand{:href => "#"} Sharabha
          %ul.nav
            %li.active
              %a{:href => "#"} Aktualności
            %li
              %a{:href => "#about"} O projekcie
            %li
              %a{:href => "#contact"} Kontakt
          - if user_signed_in?
            .user
              = t(:logged_in_as)
              = link_to "#{current_user.email}", edit_user_registration_path
              |
              = link_to t(:logout), destroy_user_session_path, :method => :delete
          - else
            = form_tag new_user_session_path, :style => "float: right; margin-top: 5px" do
              .inline-inputs
                %label= t(:email).capitalize 
                = text_field_tag 'user[email]', '', :class => 'small'
                %label= t(:password).capitalize 
                = password_field_tag 'user[password]', '', :class => 'small'
                %button.btn.primary Zaloguj
                %label{:style=>'float: none;'}
                  = check_box_tag 'user[remember_me]', "checked"
                  %span= t(:remember_me)
    .container-fluid
      .sidebar
        .well
          %h5 Sharabha
          %ul
            %li
              = link_to "Użytkownicy", users_path
            %li
              = link_to "Zespoły", teams_path
            %li
              = link_to "Zawody", competitions_path

      .content
        .row{:style => "margin-left: 0px"}
          = yield
        %footer
          %p
            \© 2011
            %a{:href => "http://www.ii.uni.wroc.pl/"} Instytut Informatyki UWR
