!!!
%html
  %head
    %title Sharabha
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}
    /= stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    /= csrf_meta_tags
    %link{:href => "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css", :rel => "stylesheet"}
    :css
      body {
        padding-top: 55px;
      }
      .user {
        float: right;
        color: white;
        line-height: 44px;
      }
      .topbar .inline-inputs label {
        float: none;
        color: white;
      }
      .topbar div > .brand, .topbar div > ul, .nav
      {
        margin-top: 4px;
      }
      .label
      {
        padding-top: 2px;
        padding-bottom: 3px;
      }
      .actions
      {
        background: none;
        padding-top: 10px;
        padding-left: 50px;
      }
  %body
    .topbar
      .topbar-inner
        .container
          %a.brand{:href => "#"} Sharabha
          %ul.nav
            %li.active
              %a{:href => "#"} Aktualności
            %li
              %a{:href => "#about"} O projekcie
            %li
              %a{:href => "#contact"} Kontakt
          - if user_signed_in?
            .user
              Zalogowany jako
              = link_to "#{current_user.email}", edit_user_registration_path
              |
              = link_to "Wyloguj się", destroy_user_session_path, :method => :delete
          - else
            = form_tag new_user_session_path, :style => "float: right; margin-top: 5px" do
              -#= link_to ' Załóż konto w kilka sekund! ' , new_user_registration_path, :class => ['label', 'warning'], :style => 'color: white;'
              .inline-inputs
                %label Login: 
                = text_field_tag 'user[email]', '', :class => 'small'
                %label Hasło: 
                = password_field_tag 'user[password]', '', :class => 'small'
                %button.btn.primary Zaloguj
                %label{:style=>'float: none;'}
                  = check_box_tag 'user[remember_me]', "checked"
                  %span Zapamiętaj mnie
    .container-fluid
      .sidebar
        .well
          %h5 Sharabha
          %ul
            %li
              %a{:href => "#"} Aktualności
            %li
              %a{:href => "#"} Trwające zawody
            %li
              %a{:href => "#"} Rozpocznij zawody
            %li
              %a{:href => "#"} Link
          %h5 Aktualne zawody
          %ul
            %li
              %a{:href => "#"}
                %span.label.success{:style => "padding: 2px 4px;"} Rozpocznij zawody!
            %li
              %a{:href => "#"} Zawody 1
            %li
              %a{:href => "#"} Zawody 2
            %li
              %a{:href => "#"} Zawody 3
            %li
              %a{:href => "#"} Zawody 4
            %li
              %a{:href => "#"} Wszystkie zawody
          %h5 Twoje konto
          %ul
            %li
              %a{:href => "#"} Edytuj profil
            %li
              %a{:href => "#"} Moje zawody
            %li
              %a{:href => "#"} Przesłane rozwiązania
            %li
              %a{:href => "#"} Wyloguj
      .content
        .row{:style => "margin-left: 0px"}
          = yield
        %footer
          %p
            \© 2011
            %a{:href => "http://www.ii.uni.wroc.pl/"} Instytut Informatyki UWR
