<!DOCTYPE html>
<html>
<head>
  <title>Competitor</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1>
			<a href="/">
			Competitor
			</a>		
			</h1>
			<p>Zawody programistyczne</p>	
		</div>	

		<div id="menu">
			<ul>
			<li>
			<%= link_to "Użytkownicy", users_path %>
			</li>
			<li>
			<%= link_to "Zespoły", teams_path %>
			</li>
			<li>
			<%= link_to "Zawody", competitions_path %>
			</li>
			<li>
			<%= link_to "Problemy", problems_path %>
			</li>
			</ul>	
		</div>
	</div>
	<div id="page">
	<% if flash[:error] %>
	<div id="errors"><%= flash[:error] %></div>
	<% end %>
	<%= yield %>
	</div>
	<div id="footer"></div>
</div>
</body>
</html>
